.desktop {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 23;
  display: flex;
  background-color: transparent;
  
}

.shortcut-container{
  display: flex;
  flex-direction: column; 
  gap: 5px; 
  width: fit-content;
}

.tabs-container {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column; 
  overflow: hidden;
}
