.hero{
  position: relative;
  width: 100%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

.hero-header-container{
  position: absolute;
  inset: 0px;
  top: 80px;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem; /* 24px */
  padding-right: 1.5rem; /* 24px */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1.25rem 

}

.hero-header-text {
  font-weight: 500;
  color: rgb(0, 123, 255);
  font-size: 40px;
 
  line-height: normal; /* Default */
}

@media (min-width: 475px) {
  .hero-header-text {
    font-size: 30px;
  }
}

@media (min-width: 640px) {
  .hero-header-text {
    font-size: 40px;
  }
}

@media (min-width: 1024px) {
  .hero-header-text {
    font-size: 40px;
  }
}


.hero-header-span{
  color: rgb(255, 255, 255);
}






.downIcon-container{
  position: absolute;
  bottom: 8rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 450px) {
  .downIcon-container {
    bottom: 2.5rem;
  }
}

.downIcon-oval{
  width: 35px;
  height: 64px;
  border-radius: 1.5rem; 
  border: 4px solid gray;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 8px; 
}


.hero-moon-container{
  position: absolute;
  inset: 0px;
  top: 80px;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem; /* 24px */
  padding-right: 1.5rem; /* 24px */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1.25rem 

}

.hero-wolf-container{
  position: absolute;
  inset: 0px;
  top: 80px;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem; /* 24px */
  padding-right: 1.5rem; /* 24px */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1.25rem 

}