/* taskbarStyle.css */
.taskbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: darkgray; /* Taskbar color */
  width: 100%;
  height: 30px; 

  position: absolute;
  bottom: 0; 
  padding: 0; 

  z-index: 20;
}

.farLeft-side-container, .farRight-side-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.item-container {
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease; 
  height: 30px;
  padding-left: 10px;
}

.item{

}

.item-container:hover {
  background-color: grey;
  cursor: pointer;
}


.farLeft-side-container {
 
}

.farRight-side-container {
  justify-content: flex-end;


}
